@import './variables';

.app {
  margin: 0 auto;
  max-width: 600px;
  padding: $u-spacing;

  &__header {
    text-align: center;
  }

  h1,
  h2,
  h3 {
    margin: 0 0 $u-spacing;
  }

  p,
  label {
    margin: 0 0 ($u-spacing / 2);
  }
}

.toolbar {
  border-bottom: 1px solid $c-grey;
  border-top: 1px solid $c-grey;
  margin-bottom: $u-spacing;

  @media screen and (min-width: $u-breakPoint) {
    display: flex;
    justify-content: space-between;
  }
}